<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4>Регистрация</h4>
      </div>
      <div class="card-body">
        <form action="/api/user/singup" method="POST">
          <div class="form-group">
            <label for="email">Эл. почта</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="confirm-password">Подтвердите пароль</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Пароль">
          </div>
          <button type="submit" class="btn btn-primary">Регистрация</button>
        </form>
      </div>
    </div>
  </div>