<!doctype html>
<html lang="ru" class="spectrum spectrum--medium spectrum--light spectrum--express">
  <%- include('../partials/head') %>
  <body>
    <main>
      <%- body %>
    </main>
  </body>
</html>

