<!doctype html>
<html lang="ru" class="spectrum spectrum--medium spectrum--light spectrum--express">
  <%- include('../partials/head') %>
  <body>
    <main>
      <%- include('../partials/header') %>
      <div class="container my-4">
        <%- body %>
      </div>
    </main>
  </body>
</html>

