<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4>Профиль <%= user.name %></h4>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="name">Имя</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value="<%= user.name %>"
            >
          </div>
          <div class="form-group">
            <label for="email">Эл. почта</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              value="<%= user.email %>"
            >
          </div>
          <!-- <button type="submit" class="btn btn-primary">Update</button> -->
        </form>
      </div>
    </div>
  </div>